.banner-section {
    position: relative;
    /* min-width: 1200px; */
    height: 90vh;
}
.banner-section img{
    width: 100%;
    opacity: .5;
    height: 100%;
}
.banner-text{
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}