.banner-section {
    position: relative;
    min-width: 1200px;
    height: 100vh;
}
.banner-section img{
    width: 100%;
    opacity: .5;
}
.banner-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}